@font-face {
    font-family: lato;
    src: url('font/Lato-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

header {
    background: url('img/bg.png');
    height: 616px;
    background-size: cover;
    background-position: center;
    padding: 0 30px;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: rebeccapurple; */
}

.navBar-left {
    display: flex;
    align-items: center;

}

.navBar-left img {
    width: 200px;
}

.navBar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navBar-right a {
    color: #fff;
    background: #e50914;
    padding: 7px 17px;
    border-radius: 3px;
    margin-right: 12px;
    font-size: 16px;
    text-decoration: none;
}

/* PARTE DO TEXTO */

.title {
    color: #fff;
    display: flex;
    /* background: blue; */
    flex-direction: column;
    width: 60%;
    margin-left: 15px;
    margin-top: 70px;
}

.title h1 {
    font-size: 4em;
}

.title h2 {
    font-size: 1.1em;
    margin: 20px 0;
}

.space-cta {
    margin-top: 20px;
}

.cta {
    font-size: 1em;
    background: #e50914;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    padding: 18px 20px;
}

/* separator */
.separator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #141414;
    border-bottom: #3d3d3d solid 2px;  
}

.separator a {
    color: #fff;
    text-decoration: none;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 30px 0;
    border-bottom: solid 5px #141414;
}

#item-1 {
    border-bottom: solid 5px #e50914; 
}

.item p {
    margin-top: 20px;
    font-weight: bold;
}

.item-space {
    padding: 40px;
    /* background: rebeccapurple; */
}

.item img {
    width: 64px;
}

/* BOX CONTENT */
.main-Box-Content{
    background: #000;
    color: #fff;
    padding-top: 60px;
}

.content-text {
    width: 70%;
    margin: auto;
}

/* BOX-1 */

.box-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.space-cta-content {
    margin-left:0;
    margin-top: 40px; 
}

.content-text img {
    width: 100%;
}



footer {
    background: #000;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 100px;
}

footer h4,
.footer-box {
    width: 70%;
    margin: auto;
    /* background: rebeccapurple; */
}

.footer-box {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer ul {
    margin: 0;
    list-style: none;
}

footer li {
    padding: 9px 0;
}

#content-1 {
    display: block;
}

#content-2 {
    display: none;
}

#content-3{
    display: none;
}

@media (max-width: 900px) {
    .title {
        margin-top: 200px;
    }

    .title h1 {
        font-size: 2em;
    }

    .title h2 {
        font-size: .8em;
    }

    /* SEPARADOR */

    #item-1-small {
        border-bottom: solid 5px #e50914;
    }

    .item {
        padding: 30px 0
    }

    /* BOX-1  */
    .box-1 {
        display: flex;
        flex-direction: column;
    }

    .text h2 {
        text-align: center;
    }

    .text div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .footer-box {
        grid-template-columns: repeat(2, 1fr);
    }

}

